
* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body {
  display: flex;
  min-height: 100vh;
  padding: 0; margin: 0;
}

/* SIDEBAR */
#pgside {
  width: 200px;
  flex-shrink: 0;
  transition: width 0.2s;
  background: #283039;
}


#pgside #pguser {
  display: flex;
  align-items: center;
  padding: 10px 5px;
}
#pgside #pguser img {
  width: 50px;
  margin-right: 5px;
  border-radius: 50%
}

/* SIDEBAR ITEMS */
#pgside, #pgside a { color: #fff; }
#pgside a {
  display: block;
  padding: 20px;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
}
#pgside a.current { background: #7c1919; }
#pgside a:hover { background: #9b2323; }



/* SMALL SCREEN TRANSFORMATION */
@media screen and (max-width:768px) {
  #pgside { width: 70px; }
  #pgside #pguser { justify-content: center; }
  #pgside a {
    text-align: center;
    padding: 20px 0;
  }
  #pgside i.ico {
    font-size: 1.5em;
    margin-right: 0;
  }

}


#pgmain {
  flex-grow: 1;
  padding: 20px;
  background: #f2f2f2;
}

.content h2 {
  color: #f2f2f2;

}

.content input, textarea, button {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}








